<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.iphonecake.com/app/appcake.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://cdn4.telesco.pe/file/OAfhQVJcfn7K7tqpZsGjwVtABBGhEOpUWG9Q3dyLcDBSvcmcU7KDuFS2XDpnGx2V9Pk3xdr3fKxIEP2SkysfwiKh_OEirQQhre2YvzMycD15jOh7dTv-P098stjLOsU-JDF-ICPKag9KPTnT02vaYuXLwH4sGD2WPm-tmKPC7HBszEQyhH2iMSRLUehyvYbRAbbewOej2S3SzVr26rKUVrfPPwlCLCsvqR_WhEAn8AioQR_H_ovMI7AFatEd0xKKCwR-7ZeAg7uSQah9ukJRgBDl90W9c09IVG6bGQSx5gyJTCcOzIhaMpSB1Lupf2UUntWrEW7-RldnR1NR9sL2Jw.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.iphonecake.com/images/Icon-60.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.iphonecake.appcakej</string>
				<key>bundle-version</key>
				<string>7.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>telegram:@ferkaribokurd11  by;@ary_m1</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
